*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #c1c1c1;
}
.cuarto{
    width: 28%;
}
.media{
    width: 42%;
}
section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 35px 25px 0px;
}
section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: grayscale(65%);
}
.big{
    letter-spacing: 10px;
    font-size: 5em;
    text-transform: capitalize;
    margin: 0px 0px 15px;
}
.medium{
    letter-spacing: 10px;
    font-size: 2.2em;
    text-transform: capitalize;
    margin: 0px 0px 10px 0px;
}
.small{
    font-size: 1.2em;
    text-transform: capitalize;
    padding: 5px 0px 25px 0px;
}
.titulo{
    letter-spacing: 5px;
    font-size: 3em;
    text-transform: capitalize;
    margin: 25px 0px 15px;
    width: 100%;
    text-align: center;
    position: relative;
}
.titulo::before{
    content: '';
    width: 35px;
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #c1c1c1;
}
/*cabecera*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    min-height: 10vh;
    transition: all ease 0.75s;
    z-index: 5;
}
.fixed{
    background: #000;
    color: #fff;
    padding: 0px 15px;
}
header h1{
    text-align: left;
    width: 95%;
    padding:25px 0px;
    color: #fff;
}
header label, header .telefono{
    width: 40px;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}
header.fixed h1{
    color: #fff;
}
header.fixed label, header.fixed .telefono{
    color: #fff;
}
.logo span{
    opacity: 0;
    transition: all ease 0.35s;
}
/*Hero*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
#hero-section{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*main*/
.content{
    background: #fff;
    padding: 25px 50px;
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
}
/*work*/
.work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
.card{
    margin-top: 10px;
    height: 400px;
    border-radius: 5px;
    position: relative;
}
.card img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    filter: grayscale(45%);
    transition: all ease 0.35s;
}
.card:hover img{
    filter:grayscale(0%);
}
.card .card-info{
    position: absolute;
    left:0px;
    bottom: 0px;
    filter: grayscale(25%);
    backdrop-filter: blur(5px);
    z-index: 1;
    width: 100%;
    padding: 15px 35px;
    transition: all ease 0.35s;
}
.card:hover .card-info{
    opacity: 0;
}
.card .card-info h3{
    color: #fff;
    letter-spacing: 5px;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding: 10px 0px;
}
.card-info h3::before{
    content: '';
    width: 35px;
    height: 4px;
    position: absolute;
    left: 25;
    bottom: 0;
    background: #c1c1c1;
}
/*About*/
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.about-info{
    width: 60%;
    text-align: center;
    padding: 15px 15px;
    font-size: 1.2em;
    line-height: 1.2em;
}
.about-info:nth-child(4){
    margin-top: 50px;
}
.about-mark {
    font-size: 1em;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*Reciente*/
.recent{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    padding: 20px 15px;
}
.more-work{
    margin:30px auto;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #7e7d7d;
    color:#fff;
    border: none;
    outline: none;
    letter-spacing: 2px;
    cursor: pointer;
}
/*Contacto*/
.contacto {
    background: #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 10px;
}
.contact-titulo{
    font-size: 3em;
    text-transform: uppercase;
    position: relative;
    color: #c1c1c1;
}
.contact-titulo::before{
    content: '';
    width: 35px;
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #c1c1c1;
}
.form-contact{
    margin:25px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-contact input, textarea{
    width: 100%;
    padding: 15px 5px;
    height: 40px;
    color: #c1c1c1;
    background: #3a3a3a;
    border: 2px solid #c1c1c1; 
    outline: none;
    margin: 5px;
}
::placeholder{
    color:#c1c1c1;
    text-transform: capitalize;
    font-size: 1.2em;
}
textarea{
    height: 120px;
    resize: none;
    padding: 5px 5px;
}
input[type="submit"]{
    background: #c1c1c1;
    padding: 15px 30px;
    border: none;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    height: auto;
    color: #3a3a3a;
}
.social{
    width: 15%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0px;
}
.social span{
    color: #c1c1c1;
    border: 2px solid #c1c1c1;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tel a{
    text-decoration: none;
    color: #c1c1c1;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}
/*Footer*/
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    background: #000;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    text-transform: capitalize;
}
@media screen and (max-width:900px) {
    .about-info{
        width: 60%;
        padding: 10px 15px;
        font-size: 1em;
        line-height: 1.2em;
    }
    .about-info:nth-child(4) {
        margin-top: 10px;
    }
    .card .card-info {
        padding: 15px 5px;
    }
    .card .card-info h3 {
        letter-spacing: 2px;
        font-size: 1em;
        font-weight: 900;
    }
    .form-contact{
        width: 50%;
    }
    .social{
        width: 25%;
    }
}
@media screen and (max-width:650px) {
    .media, .cuarto{
        width: 80%;
    }
    .about-info{
        width: 90%;
    }
    .social{
        width: 40%;
    }
    .recent{
        justify-content: center;
    }
    .work{
        justify-content: center;
    }
    .big {
        letter-spacing: 5px;
        font-size: 3em;
    }
    .content {
        padding: 25px 15px;
    }
    .titulo{
        letter-spacing: 2px;
        font-size: 2em;
    }
    .form-contact {
        width: 80%;
    }
}
@media screen and (max-width:650px) {
    .social{
        width: 60%;
    }
    .contact-titulo {
        font-size: 2em;
    }
}